<form class="login" name="" ng-submit="submitLogin()">
	<ul>
		<li class="login_tabs">
			<a href="">账号登陆</a>
			|<a href="">扫码登陆</a>
		</li>
		<li>
			<input autocomplete="off" type="text" name="user_name" ng-model="name"  placeholder="邮箱/手机号码/小米帐号">
		</li>
		<li>
			<input type="password" name="user_pwd" ng-model="pwd"  placeholder="密码">
		</li>
		<input class="login-button"  type="submit" value="立即登录"/>
		<li class="sign-up">
			<a href="#/register">注册小米账号</a>|<a href="">忘记密码</a>
		</li>

		<li class="oth_type"><div></div><p>其他方式登陆</p></li>
		<ul class="oth_type_links">
			<li>
			<div></div>
				<a href="#"></a>
			</li>
			<li>
				<div></div>
				<a href="#"></a>
			</li>
			<li>
				<div></div>
				<a href="#"></a>
			</li>
		</ul>
	</ul>
</form>